body {
    background: #282828;
    background-image: url("./assets/bg.png");
    margin: 0;
    height: 50px;
    font-family: 'Courier New', Courier, monospace;
    font-size: 24pt;
    color: #ff5c8b;
  }

#topbar {
    background: #0A0A0A;
    height: 100px;
}

#link-container {
    position: relative;
    width: 50%;
    bottom: 70px;
    text-align: center;
    margin: auto;
    display: flex;
    justify-content: space-between;
}

#link-container a{
    text-decoration: none;
    color: #ff5c8b;
}

.icon{
    margin: 25px;
}

#octocat-icon {
    float: right;
}