body {
    background: #282828;
    background-image: url("./assets/bg-update.png");
    background-attachment: fixed;
    margin: 0;
    height: 50px;
    font-family: 'Courier New', Courier, monospace;
    font-size: 32pt;
    font-weight: bolder;
    color: #ee4071;
    text-shadow: 2px 2px #24070e;
  }

  h1{
    font-family: sans-serif;
    color: #ffffff;
    text-shadow: 5px 5px #242424;
    margin: 0;
    padding-bottom: 10px;
  }

#topbar {
    background: #0A0A0A;
    height: 100px;
}

#link-container a:hover {
    color: rgb(255, 255, 255);
  }

#link-container {
    position: relative;
    width: 75%;
    bottom: 90px;
    text-align: center;
    margin: auto;
    display: flex;
    justify-content: space-around;
}

#link-container a{
    text-decoration: none;
    color: #ff5c8b;
    font-weight: normal;
}

.icon{
    margin: 25px;
    
}

.icon:hover{
    opacity:0.4;
    filter:alpha(opacity=40); 
}

#octocat-icon {
    float: right;
}

#personal-tag{
    margin: 25px;
    margin-left: 100px;
}

#main-page{
    padding-top: 30px;
    padding-bottom: 100px;
}

.panel {
    margin-left: 100px;
    width: 750px;
    margin-bottom: 70px;
}

.panel p{
    margin: 0;
    background-color: #0a0a0a85;
    font-size: 24pt;
    width: 75%;
}

#contact-info, #about-me{
    margin: right;
    padding-top: 70px;
    width: 50%;
}

#contact-info p, #about-me p{
    font-weight: normal;
    width: 120%;
}

footer {
    background: #0A0A0A;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    text-align: center;
    z-index: 1; /* Ensure footer appears above other content */
    padding: 20px;
}

footer p{
    margin: auto;
    width: 50%;
    text-align: center;
    top: 20px;
    font-size: 18pt;
}

@media (max-width: 480px) {
    footer {
        position: static;
    }
}